.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/ChargeLogic_Landing.png');
  background-size: cover;
  height: 100vh;
}

.navIcons {
  /* width: 100%; */
  margin: -3rem -2rem 0;
  float: right;
}
/* .landing img {
  height: 100%;
} */
.landingBtn {
  text-decoration: none;
  color: #ffffff;
}
.confirmBtn {
  margin-right: 0.5rem;
}

/* .mapImg {
  width: 100%;
} */
.mapMain {
  display: flex;
  justify-content: space-around;
}