.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/ChargeLogic_Landing.png');
  background-size: cover;
  height: 100vh;
}
/* .landing img {
  height: 100%;
} */
.landingBtn {
  text-decoration: none;
  color: #ffffff;
}
.confirmBtn {
  margin-right: 1rem;
}

.mapImg {
  width: 100%;
}
